footer {
    text-align: center;
	background:linear-gradient(to bottom, #A61103, rgb(20, 5, 5));
	height: 50%;
    color: white;
    padding-top: 20px;
}

.main1 { 
  display:flex;
  margin:0 auto;
}


div.redes-footer{
    font-size: 30px;
    padding-left: 5%;
}
div.redes-footer a:hover{
    color: blanchedalmond;
}

h6.text-footer{
    font-family: 'Roboto', sans-serif;
    color: rgb(136, 178, 197);
}